nav {
  margin-bottom: 1.5rem;
}

a {
  cursor: pointer;
}

a.disabled {
  cursor: not-allowed;
}

.btn-outline-primary {
  background-color: white;
}

.btn-outline-primary:hover {
  background-color: #E95420;
  border-color: #d2400d;
  cursor: pointer;
}

strong {
  text-decoration: none;
  font-size: 110%;
}
