<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary ">
  <a class="navbar-brand" href="#">Phosphorus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/upload">Upload</a>
      </li>
      <li class="nav-item dropdown" (click)="toggleOfficerMenu()" (mouseleave)="onExit()" (mouseenter)="onEnter()">
        <a class="nav-link dropdown-toggle">Officers</a>
        <div class="dropdown-menu" [ngClass]="{'show': showOfficerMenu}">
          <a class="dropdown-item" routerLink="/officers">Overview</a>
          <a class="dropdown-item" routerLink="/officers/new">New Officer</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports">Reports</a>
      </li>
    </ul>
    <ul *ngIf="!loggedin" class="navbar-nav float-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login &nbsp;
          <fa class="off" name="power-off"></fa>
        </a>
      </li>
    </ul>
    <ul *ngIf="loggedin" class="navbar-nav float-right">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          Hello,
          <strong>{{ user | titlecase }}</strong>! &nbsp;
          <fa class="on" name="power-off"></fa>
        </a>
      </li>
    </ul>
  </div>

</nav>
