<div class="row justify-content-center">
  <div class="col-6">
    <h3>Set Effective Date</h3>
    <form [formGroup]="squadForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="alert alert-warning">
        <h4>
          <fa name="exclamation-triangle"></fa> CAUTION
        </h4>
        <hr>
        <p>This will override the effective date for all officers.</p>
      </div>
      <div class="form-group">
        <label class="center-block">Effective Date:</label>
        <input type="date" class="form-control" formControlName="effDate">
      </div>
      <button class="btn btn-warning" type="submit" [disabled]="squadForm.invalid">
        <fa name="exclamation-triangle"></fa> Override All Officers
      </button>
      <a class="btn btn-secondary float-right" routerLink="/officers">
        <fa name="undo"></fa> Return to Overview
      </a>
    </form>
    <div class="alert alert-danger" *ngIf="message.danger">
      {{ message.danger }}
    </div>
    <div class="alert alert-warning" *ngIf="message.warning">
      {{ message.warning }}
    </div>
    <div class="alert alert-info" *ngIf="message.info">
      {{ message.info }}
    </div>
    <hr>
  </div>
</div>
