<div class="row justify-content-center">
  <div class="col-6">
    <h3>Add a new officer</h3>
    <form [formGroup]="newOfficerForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label class="center-block">Department ID:</label>
        <input type="number" class="form-control" formControlName="deptID">
      </div>
      <div class="alert alert-danger"
        *ngIf="newOfficerForm.controls['deptID'].touched && newOfficerForm.controls['deptID'].invalid">
        ID numbers must be four digits or less
      </div>
      <div formGroupName="name">
        <div class="form-group">
          <label class="center-block">Last name:</label>
          <input type="text" class="form-control" formControlName="last">
        </div>
        <div class="form-group">
          <label class="center-block">First name:</label>
          <input type="text" class="form-control" formControlName="first">
        </div>
      </div>
      <div class="form-group">
        <label class="center-block">Division:</label>
        <select (click)="onDivisionSelect()"class="form-control" formControlName="division">
          <option *ngFor="let division of divisions" [value]="division">{{ division }}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="center-block">Squad:</label>
        <select class="form-control" formControlName="squad">
          <option *ngFor="let squad of squads" [value]="squad">{{ squad }}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="center-block">Effective Date:</label>
        <input type="date" class="form-control" formControlName="effDate">
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input name="include" type="radio" class="form-check-input" [value]="true" formControlName="include">
            Include in reports
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input name="include" type="radio" class="form-check-input" [value]="false" formControlName="include">
            Do not include in reports
          </label>
        </div>
      </div>
      <button class="btn btn-success" type="submit" [disabled]="newOfficerForm.invalid">
          <fa name="save"></fa> Save
      </button>
      <button class="btn btn-info" type="reset" [disabled]="newOfficerForm.pristine" (click)="resetForm()">
          <fa name="eraser"></fa> Clear Form
      </button>
      <a class="btn btn-secondary float-right" routerLink="/officers">
        <fa name="undo"></fa> Return to Overview
      </a>
    </form>
    <div class="alert alert-danger" *ngIf="message.danger">
      {{ message.danger }}
    </div>
    <div class="alert alert-info" *ngIf="message.info">
      {{ message.info }}
    </div>
    <div class="alert alert-success" *ngIf="message.success">
      {{ message.success }}
    </div>
    <hr>
  </div>
</div>
