<div class="row justify-content-center">
  <div class="col-4">
    <h2>Add a new officer</h2>
    <form [formGroup]="newOfficerForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label class="center-block">Department ID:</label>
        <input #deptIDInput type="number" class="form-control" formControlName="deptID" placeholder="three digit ID number, for example 555">
      </div>
      <div formGroupName="name">
        <div class="form-group">
          <label class="center-block">Last name:</label>
          <input type="text" class="form-control" formControlName="last">
        </div>
        <div class="form-group">
          <label class="center-block">First name:</label>
          <input type="text" class="form-control" formControlName="first">
        </div>
      </div>
      <div class="form-group">
        <label class="center-block">Squad:</label>
        <select class="form-control" formControlName="squad">
          <option value="Alpha">Alpha</option>
          <option value="Bravo">Bravo</option>
          <option value="Charlie">Charlie</option>
          <option value="Delta">Delta</option>
          <option value="Street Crimes">Street Crimes</option>
          <option value="Traffic">Traffic</option>
          <option value="Uptown/Gateway">Uptown/Gateway</option>
        </select>
      </div>
      <button class="btn btn-success" type="submit" [disabled]="newOfficerForm.pristine">Save</button>
      <button class="btn btn-info" type="reset" [disabled]="newOfficerForm.pristine" (click)="resetForm()">Reset</button>
      <a class="btn btn-secondary float-right" routerLink="/officers">Return to Overview</a>
    </form>
    <div class="alert alert-danger" *ngIf="message.danger">
      {{ message.danger }}
    </div>
    <div class="alert alert-info" *ngIf="message.info">
      {{ message.info }}
    </div>
    <div class="alert alert-success" *ngIf="message">
      {{ message.success }}
    </div>
  </div>
</div>
