<div class="row justify-content-center">
  <div class="col-8">
    <h3>Summary</h3>
    <table class="table">
      <tbody>
        <tr>
          <td>Number of episodes</td>
          <td>{{ episodeCount | number }}</td>
        </tr>
        <tr>
          <td>Starting date</td>
          <td>{{ startingDate | date:'MMMM d, yyyy - h:mm:ss a' }}</td>
        </tr>
        <tr>
          <td>Ending date</td>
          <td>{{ endingDate | date:'MMMM d, yyyy - h:mm:ss a' }}</td>
        </tr>
        <tr>
          <td>First event number</td>
          <td>{{ firstEvent }}</td>
        </tr>
        <tr>
          <td>Last event number</td>
          <td>{{ lastEvent }}</td>
        </tr>
        <tr>
          <td>Number of reports</td>
          <td>{{ reportCount | number }}</td>
        </tr>
        <tr>
          <td>Number of total officers</td>
          <td>{{ officerCount | number }}</td>
        </tr>
        <tr>
          <td>Number of included officers</td>
          <td>{{ officerIncludedCount | number }}
            , or about {{ officerIncludedCount/officerCount | percent}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
