h5.big-empty {
  padding-top: 1rem;
}

.faded {
  color: rgb(44, 62, 80, 0.5);
  text-align: center;
}

.section-titles {
  text-align: left;
  border-bottom: 1px rgb(44, 62, 80, 0.5) solid;
}

.section {
  padding-top: 1em;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
