<div class="row justify-content-center">
  <div class="col-8">
    <h3><fa name="home"></fa> Summary</h3>
    <table class="table">
      <tbody *ngIf="episodes && episodes.length > 0">
        <tr>
          <td>Episodes</td>
          <td>{{ episodeCount | number }}</td>
        </tr>
        <tr>
          <td>Starting date</td>
          <td>{{ startingDate | date:'MMMM d, yyyy - h:mm:ss a' }}</td>
        </tr>
        <tr>
          <td>Ending date</td>
          <td>{{ endingDate | date:'MMMM d, yyyy - h:mm:ss a' }}</td>
        </tr>
        <tr>
          <td>First event number</td>
          <td>{{ firstEvent }}</td>
        </tr>
        <tr>
          <td>Last event number</td>
          <td>{{ lastEvent }}</td>
        </tr>
        <tr>
          <td>Reports</td>
          <td>{{ reportCount | number }}</td>
        </tr>
        <tr>
          <td>Officers</td>
          <td>{{ officerCount | number }}</td>
        </tr>
        <tr>
          <td>Included officers</td>
          <td>{{ officerIncludedCount | number }}
            , or about {{ officerIncludedCount/officerCount | percent}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="episodes && episodes.length === 0">
        <tr>
          <td colspan="2" style="text-align: center">
            <h2 class="big-empty faded">
              <fa name="frown-o"></fa>Sorry, nothing to see here.</h2>
            <h4 class="big-empty faded">Now kindly move along.</h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
