h2.big-empty {
  padding-top: 1rem;
}

.faded {
  color: rgb(44, 62, 80, 0.5);
  text-align: center;
}

.sortable {
  cursor: pointer;
}

.table {
  margin-top: 1rem;
}

a.link {
  color: #3498db;
  cursor: pointer;
}

a.link:hover {
  color: #2c3e50;
}
