<div class="row justify-content-center" (keypress)="onKeypress($event)">
  <div class="col-4">
    <h3>Edit Officer</h3>
    <form [formGroup]="editOfficerForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label class="center-block">Department ID:</label>
        <input #deptIDInput type="number" class="form-control" formControlName="deptID">
      </div>
      <div class="alert alert-danger"
        *ngIf="editOfficerForm.controls.deptID.touched && editOfficerForm.controls.deptID.invalid">
        ID numbers must be three digits or less
      </div>
      <div formGroupName="name">
        <div class="form-group">
          <label class="center-block">Last name:</label>
          <input type="text" class="form-control" formControlName="last">
        </div>
        <div class="form-group">
          <label class="center-block">First name:</label>
          <input type="text" class="form-control" formControlName="first">
        </div>
      </div>
      <div class="form-group">
        <label class="center-block">Squad:</label>
        <select class="form-control" formControlName="squad">
          <option *ngFor="let squad of squads" [value]="squad">{{ squad }}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="center-block">Effective Date:</label>
        <input type="date" class="form-control" formControlName="effDate">
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input name="include" type="radio" class="form-check-input" value="true" formControlName="include">
            Include in reports
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input name="include" type="radio" class="form-check-input" value="false" formControlName="include">
            Do not include in reports
          </label>
        </div>
      </div>
      <button class="btn btn-success" type="button" (click)="onUpdate()" [disabled]="editOfficerForm.invalid">
        Update
      </button>
      <a class="btn btn-secondary float-right" routerLink="/officers">Cancel</a>
    </form>
    <div class="alert alert-danger" *ngIf="message.danger">
      {{ message.danger }}
    </div>
    <div class="alert alert-info" *ngIf="message.info">
      {{ message.info }}
    </div>
  </div>
</div>
