<div class="row justify-content-center">
  <div class="col-10">
    <h3>
      <fa name="user"></fa> Officers</h3>
    <a *ngIf="authService.isAuthor()" class="btn btn-primary" routerLink="/officers/new">
      <fa name="user-plus"></fa> Add new officer
    </a>
    <div class="float-right">
      <a class="btn btn-primary" routerLink="/officers/squad">
        <fa name="plus"></fa> Include by squad
      </a>
      <a class="btn btn-primary" routerLink="/officers/effective-date">
        <fa name="calendar"></fa>Set effective date
      </a>
    </div>
    <div class="alert alert-success" *ngIf="message.success">
      {{ message.success }}
    </div>
    <div class="alert alert-warning" *ngIf="message.warning">
      {{ message.warning }}
    </div>
    <div class="alert alert-danger" *ngIf="message.danger">
      {{ message.danger }}
    </div>
    <div class="tabs">
      <app-officer-tabs (tabEmitter)="onTabChange($event)"></app-officer-tabs>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="sortable" (click)="onHeaderClick('include')">Included?</th>
          <th class="sortable" (click)="onHeaderClick('name', 'last')">Name</th>
          <th class="sortable" (click)="onHeaderClick('deptID')">ID No.</th>
          <th class="sortable" (click)="onHeaderClick('squad')">Squad</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let officer of officers">
          <td *ngIf="officer.include" class="included-true">
            <fa name="check-circle"></fa>
          </td>
          <td *ngIf="!officer.include" class="included-false">
            <fa name="minus-square"></fa>
          </td>
          <td>{{ officer.name.last }}, {{ officer.name.first }}</td>
          <td>{{ officer.deptID }}</td>
          <td>{{ officer.squad }}</td>
          <td>
            <a *ngIf="authService.isAuthor()" class="btn btn-info btn-sm" routerLink="/officers/edit/{{ officer._id }}">
              <fa name="edit"></fa> edit
            </a>
          </td>
          <td>
            <button *ngIf="authService.isAdmin()" class="btn btn-danger btn-sm" (click)="deleteOfc(officer)">
              <fa name="trash"></fa> remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="officers && officers.length === 0">
      <h2 class="big-empty faded">
        <fa name="frown-o"></fa>Sorry, nothing to see here.</h2>
      <p class="big-empty faded">Now kindly move along.</p>
    </div>
    <div *ngIf="!officers">
      <h2 class="big-empty faded">
        <fa name="cog" animation="spin"></fa>Please be patient.</h2>
      <p class="big-empty faded">I'm sorting through a ton of data!</p>
    </div>
    <hr>
  </div>
</div>