.table {
  margin-top: 1rem;
}

.tabs {
  padding-top: 1rem;
}

.table td {
    padding: 0.25rem;
    text-align: center;
}

th {
  text-align: center;
}

.btn-sm {
  padding: 0rem 0.5rem;
}

.btn {
  border: 0.1px solid transparent;
}

.alert {
  margin-top: 1rem;
}

.sortable {
  cursor: pointer;
}

.included-true {
  color: #18BC9C;
}

.included-false {
  color: #E74C3C;
}

h2.big-empty {
  padding-top: 1rem;
}

.faded {
  color: rgb(44, 62, 80, 0.5);
  text-align: center;
}