.table td {
    padding: 0.25rem;
    text-align: center;
}

th {
  text-align: center;
}

.btn-sm {
  padding: 0rem 0.5rem;
}

.btn {
  border: 0.1px solid transparent;
}

.alert {
  margin-top: 1rem;
}

.sortable {
  cursor: pointer;
}

[type="checkbox"]:checked:after {
  left: -0.55em;
  top: -0.9em;
  font-size: 2em;
  color: #dd3b45;
}
