<div class="row justify-content-center">
  <div class="col-8">
    <h3>Officer Overview</h3>
    <table class="table">
      <thead>
        <tr>
          <th class="sortable" (click)="onHeaderClick('include')">Include</th>
          <th class="sortable" (click)="onHeaderClick('name', 'last')">Name</th>
          <th class="sortable" (click)="onHeaderClick('deptID')">ID No.</th>
          <th class="sortable" (click)="onHeaderClick('squad')">Squad</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let officer of officers">
          <td *ngIf="officer.include" class="included-true">
            <i class="fas fa-plus-circle"></i>
          </td>
          <td *ngIf="!officer.include" class="included-false">
            <i class="fas fa-minus-circle"></i>
          </td>
          <td>{{ officer.name.last }}, {{ officer.name.first }}</td>
          <td>{{ officer.deptID }}</td>
          <td>{{ officer.squad }}</td>
          <td><a class="btn btn-info btn-sm" routerLink="/officers/edit/{{ officer._id }}">&#9998; edit</a></td>
          <td><button class="btn btn-danger btn-sm" (click)="deleteOfc(officer)">&#10008; remove</button></td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-info" *ngIf="!officers">
      Loading...
    </div>
    <a class="btn btn-primary" routerLink="/officers/new">
      Add new officer
    </a>
    <a class="btn btn-primary" routerLink="/officers/squad">
      Include by squad
    </a>
    <a class="btn btn-primary" routerLink="/officers/effective-date">
      Set effective date
    </a>
    <div class="alert alert-success" *ngIf="message.success">
      {{ message.success }}
    </div>
    <div class="alert alert-warning" *ngIf="message.warning">
      {{ message.warning }}
    </div>
    <div class="alert alert-danger" *ngIf="message.danger">
      {{ message.danger }}
    </div>
    <hr>
  </div>
</div>
