.table td {
    padding: 0.25rem;
    text-align: center;
}

th {
  text-align: center;
}

.btn-sm {
  padding: 0rem 0.5rem;
}

.btn {
  border: 0.1px solid transparent;
}

.alert {
  margin-top: 1rem;
}

.sortable {
  cursor: pointer;
}

.included-true {
  color: #28a745;
}

.included-false {
  color: #dc3545;
}
