[type="checkbox"]:checked:after {
  content: "\2714";
  left: -1.4rem;
  top: -2.25rem;
  font-size: 2.5rem;
  color: rgba(40, 167, 69, 0.8);
}

input:focus {
  outline: none;
}

div.alert {
  margin-top: 1rem;
}
