<div class="row justify-content-center">
  <div class="col-6">
    <h3>Include By Squad</h3>
    <form [formGroup]="squadForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <div class="form-check" *ngFor="let squad of squads">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [formControlName]="squad">
            {{ squad }}
          </label>
        </div>
      </div>
      <button class="btn btn-success" type="submit" [disabled]="squadForm.invalid">Save Changes</button>
      <a class="btn btn-secondary float-right" routerLink="/officers">Return to Overview</a>
    </form>
    <div class="alert alert-danger" *ngIf="message.danger">
      {{ message.danger }}
    </div>
    <div class="alert alert-info" *ngIf="message.info">
      {{ message.info }}
    </div>
    <hr>
  </div>
</div>
