<div class="row justify-content-center">
  <div class="col-6">
    <h2>Upload File</h2>

    <div *ngIf="showInstructions">
      <p>A file must first be uploaded before a report can be made. The file must be in the format of a comma-seperate values file (CSV) and have the following column names (headers) in this order:</p>
      <ol>
        <li>CaseNbr</li>
        <li>ClrOfficerBadge</li>
        <li>EventNbr</li>
        <li>EventType</li>
        <li>Init_DateTime</li>
        <li>OfcrName</li>
        <li>SourceCall</li>
        <li>UnitId</li>
      </ol>
      <p>The headers are names set in the XCAD History database. If the names of the headers are changed, this would be a "breaking change" and this app will no longer work.</p>
    </div>

    <button class="btn btn-secondary btn-sm" (click)="toggleInstructions()">
      <div *ngIf="!showInstructions">Click here for instructions</div>
      <div *ngIf="showInstructions">Hide instructions</div>
    </button>

    <hr>

    <h5><strong>Step 1:</strong> Select</h5>
    <input type='file' (change)="fileChanged($event)" />

    <h5 [ngClass]="{'disabled': !file}"><strong>Step 2:</strong> Verify</h5>
    <button class="btn btn-primary btn-block" [ngClass]="{'disabled': !file}" [disabled]="!file" (click)="verify()">
      Verify
    </button>
    <div class="message-block" *ngIf="verifier">
      <div class="alert" [ngClass]="{'alert-danger': !verifier.result, 'alert-success': verifier.result}">
        <span class="dingbat" *ngIf="verifier.result"> &#10003; </span>
        <span class="dingbat" *ngIf="!verifier.result"> &#10007; </span>
        <span class="message"> {{ verifier.message }} </span>
      </div>
    </div>

    <div *ngIf="verifier">
      <h5 [ngClass]="{'disabled': !verifier.result}"><strong>Step 3:</strong> Upload</h5>
      <button class="btn btn-success btn-block" [ngClass]="{'disabled': !verifier.result}" [disabled]="!verifier.result" (click)="upload()">
        Upload
      </button>
    </div>
    <div class="message-block" *ngIf="eventsRead">
      <div class="alert alert-success">
        <span class="dingbat"> &#10003; </span>
        <span class="message"> {{ eventsRead }} events read. </span>
      </div>
    </div>
    <div class="message-block" *ngIf="eventsRead === 0">
      <div class="alert alert-danger">
        <span class="dingbat"> &#10007; </span>
        <span class="message"> An error occurred. Nothing was uploaded to the database. </span>
      </div>
    </div>

  </div>
</div>
