/* You can add global styles to this file, and also import other style files */

strong {
    text-decoration: underline;
}

button.disabled {
  opacity: .33;
  cursor: not-allowed;
}

button:disabled {
  cursor: not-allowed;
}

button {
  cursor: pointer;
}
