h5 {
  margin-top: 1.5rem;
}

.disabled {
  opacity: .33;
  cursor: not-allowed;
}

.message-block {
  margin-top: 0.5rem;
}

.dingbat {
  font-size: 2.5rem;
  vertical-align: middle;
}

.message {
  vertical-align: middle;
}

.alert {
  padding: 0rem 1.5rem;
}
