<div class="row justify-content-center">
  <div class="col-6">
    <h3>Upload File</h3>
    <button class="btn btn-secondary btn-sm" (click)="toggleInfo()">
      <div *ngIf="!showInfo">Click here for more information</div>
      <div *ngIf="showInfo">Hide instructions</div>
    </button>
    <div class="info" *ngIf="showInfo">
      <h4>Background</h4>
      <hr>
      <p>The database in use by this application has two collections:</p>
      <ol>
        <li> <code>episodes</code> </li>
        <li> <code>officers</code> </li>
      </ol>
      <p>
        The 'episodes' collection is built primarily from two sources: XCAD and
        Cafe. The sources should come in the form of a CSV file. The order and name
        of the column headers in each CSV file is vitally important. If the order
        and name are not in the expected format, the upload will fail. Also, when
        building the <code>episodes</code> database, the XCAD source should be
        uploaded first. Failure to follow this order will cause the database to be
        inaccurate.
      </p>
      <p>
        There are some <code>Call</code> objects that do not have associated
        <code>Report</code>  objects. And conversely, there are some <code>Report</code>
        objects that do not have associated <code>Call</code> objects. This last
        instance is typically observed in TC (traffic citation) report types. Nevertheless,
        all of the data provided from XCAD and Cafe is aggregated into one
        <code>episodes</code> collection
      </p>
      <h4>How it's made</h4>
      <hr>
      <ol>
        <li>
          An <code>officers</code> collection is created and maintained by the user.
          This collection is independent of the <code>episodes</code> collection and
          is used to assign officers to squads. Additional features include an ability
          to include/exclude officers from reports as well as designating a start date
          from which productivity should be counted.
        </li>
        <li>
          The <code>episodes</code> collection is created via CSV files that have been
          created from a query seperate from this application. The XCAD results area
          agnostic of possible associated <code>Report</code> data and will only check
          to see if an <code>&#123;eventNbr&#125;</code> property exists before creating
          a new record.
        </li>
        <li>
          A Cafe CSV file is next uploaded, which will update/populate the
          existing <code>episodes</code> collection, creating new documents for the
          collection when an event number is either not provided in the CSV file
          or not found in the existing collection.
        </li>
      </ol>
      <h4>Models</h4>
      <hr>
      <pre><code>
      Episode &#123;
        _id: any,
        call: Call,
        reports: Report[]
      &#125;
      </code></pre>
      <pre><code>
      Call &#123;
        eventNbr: number,
        created: Date,
        eventType: string,
        src: string,
        units: Officer[],
        primaryUnit: Officer
        disps: string[],
      &#125;
      </code></pre>
      <pre><code>
      Report &#123;
        caseNbr: string,
        reportDate: Date,
        type: string,
        offenses: Offense[],
        clearance: string,
        reportingOfc: Officer
      &#125;
      </code></pre>
      <pre><code>
      Offense &#123;
        statute: string,
        statuteDesc: string,
        ucrCode: string,
        ucrDesc: string,
        ncicLevel: string
      &#125;
      </code></pre>
      <pre><code>
      Officer &#123;
        _id: any,       // key assigned by database
        deptID: number, // unique dept ID number
        name: &#123;
          last: string,
          first: string
        &#125;,
        squad: string,
        effDate: Date,
        include: boolean
      &#125;
      </code></pre>
    </div>

    <hr>

    <h5><strong>Step 1:</strong> Select</h5>
    <input type='file' #newFile (change)="fileChanged(newFile.files[0])" />

    <h5 [ngClass]="{'disabled': !file}"><strong>Step 2:</strong> Verify</h5>
    <button class="btn btn-primary btn-block" [ngClass]="{'disabled': !file}" [disabled]="!file" (click)="verify()">
      Verify
    </button>
    <div class="message-block" *ngIf="verifier">
      <div class="alert" [ngClass]="{'alert-danger': verifier.error, 'alert-success': !verifier.error}">
        <span *ngIf="!verifier.error">
          <span class="dingbat"> + </span>
          <span class="message"> {{ verifier.message }} </span>
        </span>
        <span *ngIf="verifier.error">
          <span class="dingbat"> X </span>
          <span class="message"> {{ verifier.error.message }} </span>
        </span>
      </div>
    </div>

    <div *ngIf="verifier">
      <h5 [ngClass]="{'disabled': verifier.error}"><strong>Step 3:</strong> Upload</h5>
      <button class="btn btn-success btn-block" [ngClass]="{'disabled': verifier.error}" [disabled]="verifier.error" (click)="upload()">
        Upload
      </button>
    </div>

    <div *ngFor="let response of serverResponses">
      <div class="message-block" *ngIf="!response.error">
        <div class="alert alert-success" [ngClass]="{'alert-warning': response.num === 0}">
          <span class="dingbat"> + </span>
          <span class="message"> {{ response.num }} {{ response.message }} </span>
        </div>
      </div>
      <div class="message-block" *ngIf="response.error">
        <div class="alert alert-danger">
          <span class="dingbat"> X </span>
          <span class="message"> {{ response.error.message }} </span>
        </div>
      </div>
    </div>

  </div>
</div>
